# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db

# Environment variables
.env

# Deprecated/unused scripts
scripts/deprecated

# Logs
logs
*.log
npm-debug.log*

# Node dependencies
node_modules

# Build directory
dist
